#root, html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: bisque;
    background-image: url('rasht2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.App {

  /*  margin: auto;*/


}

.weatherimg {
    width: 200px;
    height: 200px;
}


.card {
    background-color: whitesmoke;
    width: 8rem;
    margin: 50px;
}
